body{
  padding-bottom: 28px;
}



.App-logo {
  width: 50px;
}

.footer {
  display: flex;
  align-items: center;
}

.socialNetworkIconsLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialNetworkIcons {
  color: #000;
  font-size: 24px;
  margin-bottom: 8px;
}

.footerText{
text-align: center;
margin-bottom: 4px;
}

.productsCardHeader{ 
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  height: 150px;
}